# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# Environment
.env
.venv

# Logs
*.log

# Data / models
data/
models/
*.pt
*.pth
*.h5

# VSCode
.vscode/
